.roof_chimney{
  width: 65px;
  height: 90px;
  border: 1px solid brown;
  margin: 30px;
  background: brown;
}

.house_roof{
  width: 0;
  height: 0;
  border-left: 330px solid black;
  border-right: 330px solid black;
  border-bottom: 301px solid brown;
}


.house_wall{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: space-around;
	align-items: stretch;
	height: 400px;
  width: 650px;
  border: 5px solid black;
  background: grey;
}

.wall_window{
  width: 50px;
  height: 50px;
  border: 3px solid black;
  background:  blue;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.window_frame_horizontal, .window_frame_vertical{
  border: 2px solid black;
}

.window_frame_vertical{
	transform: rotate(90deg);
}

.wall_door{
	height: 110px;
	width: 80px;
	border: 3px solid black;
	background: #654321;
	margin-top: 65px;
	display: flex;
	align-items: center;
}

.door_handle{
  width: 15px;
  height: 15px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  background-color: brown;
}